.select-button{
	margin-top: 42px;
}

.inside-question-input{
	margin-bottom: 10px;
}

.inside-question-input label{
	display: block;
}

.inside-question-input input{
	width: 100%;
}

.container-questao h3{
	color: #511C7A;
	padding: 57px 0px 15px 0px;
}

.after-select{
	margin-top: 62px;
}

#vf, #unica, #aberta{
	display: none;
}


